<style>
    .btn-outline-dark {
        border-color: black;
        color: #fff;
        border-width: 1px;
    }
</style>

<CascadingValue Value="@BlockVisibility">
    <TopicBlock></TopicBlock>
</CascadingValue>

<div class="card shadow" style="margin-left:10px; max-height:515px; max-width:800px">
    <div>
        <img class="card-img-top" src="images/@cardImages[i]">
    </div>
    <div class="card-body d-flex flex-column">
        <div style="overflow-y:auto">
            <h5 class="card-title" style="text-shadow: 1px 0px 1px white">@cardTitles[i]</h5>
            <p class="card-text" style="text-shadow: 1px 0px 1px white">@cardText[i]</p>
        </div>
        <div class="my-auto" style="padding-top:10px">
            <a href="/@pageName" class="mt-auto btn btn-primary" style="background-color:orangered; text-shadow:1px 1px black;" @onclick="MakeVisible">@ButtonLabel</a>
        </div>
    </div>
</div>

@code {

    [CascadingParameter(Name = "PageName")]
    private string pageName { get; set; }

    private string ButtonLabel = "See More";

    private string BlockVisibility { get; set; } = "invisible";

    private void MakeVisible(MouseEventArgs e)
    {
        if (ButtonLabel == "See More")
        {
            ButtonLabel = "See Less";
            BlockVisibility = "visible";
        }
        else
        {
            ButtonLabel = "See More";
            BlockVisibility = "invisible";
        }

    }

    [CascadingParameter(Name = "i")]
    private int i { get; set; }

    [CascadingParameter(Name = "CardImages")]
    private List<string> cardImages { get; set; }

    [CascadingParameter(Name = "CardTitles")]
    private List<string> cardTitles { get; set; }

    [CascadingParameter(Name = "CardText")]
    private List<string> cardText { get; set; }

}
